<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/login.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/signup.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <title>NEWS-HOMEPAGE</title>
</head>

<body>
<header>
    {% include "include/header.html" %}
</header>

<div class="header-bar"></div>

{% block content %}
{% endblock %}

<img src="{% static '1.jpg' %}">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script>
    function openNav() {
        document.getElementById("nav").style.width = "350px";
        document.getElementById("nav-item-wraper").style.visibility = "visible";
        document.getElementById("nav-item-wraper").style.opacity = "1";
    }

    function closeNav() {
        document.getElementById("nav").style.width = "0";
        document.getElementById("nav-item-wraper").style.visibility = "hidden";
        document.getElementById("nav-item-wraper").style.opacity = "0";
        document.getElementById("nav-item-wraper").style.transition = "visibility 0.0s, opacity 0.0s";
    }

</script>
</body>
</html>