<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <title>NEWS-HOMEPAGE</title>
</head>

<body>
<header>
    <div id="search_section">
        <div class="search">
            <form class="navbar-form" method="get" action="https://search.naver.com/search.naver">
                <input name="query" type="text" placeholder="Search Naver"/>
                <input type="submit" class="btn btn-default" value="네이버 검색">
            </form>
        </div>
        <div class="search">
            <form class="navbar-form" method="get" action="https://www.google.com/search">
                <input name="q" type="text" placeholder="Search Google">
                <input type="submit" class="btn btn-default" value="구글 검색">
            </form>
        </div>
    </div>
    <nav id="nav">
        <ul id="news-select-list">
            <li class="news-select-item"><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></li>
            <li class="news-select-item">네이버</li>
            <li class="news-select-item">다음</li>
        </ul>
    </nav>

    <span onclick="openNav()"><span class="glyphicon glyphicon-plus"></span> 매체선택 | 로그인</span>
</header>

<div class="header-bar"></div>

<div class="container-fluid news-section">
    <div class="col-xl news-item">
        <div class="news-item-wraper">
            <h4 class="press-title">&lt;NAVER&gt;</h4>
            <ul class="news-list">
                {% for items in naver %}
                    <a href="{{ items.link }}">
                        <li class="news-title">{{ items.title }}</li>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-xl news-item">
        <div class="news-item-wraper">
            <h4 class="press-title">&lt;DAUM&gt;</h4>
            <ul class="news-list">
                {% for items in daum %}
                    <a href="{{ items.link }}">
                        <li class="news-title">{{ items.title }}</li>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script>
    function openNav() {
        document.getElementById("nav").style.width = "65%";
    }

    function closeNav() {
        document.getElementById("nav").style.width = "0";
    }
</script>
</body>
</html>