<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <title>NEWS-HOMEPAGE</title>
</head>
<body>
<header>
    <div id="search_section">
        Search Section
        <form method="get" action="https://www.google.com/search">
            <input name="q" type="text" placeholder="Search Google">
            <input type="submit" value="구글 검색">
        </form>
        <form method="get" action="https://search.naver.com/search.naver">
            <input name="query" type="text" placeholder="Search Naver"/>
            <input type="submit" value="네이버 검색">
        </form>
    </div>
</header>

<div class="header-bar"></div>

<div class="body-item" id="news-select-section">
    <ul>
        <li>네이버</li>
        <li>다음</li>
    </ul>
</div>

<div class="body-item news-section" id="naver_news">
    <h3>&lt;NAVER&gt; NEWS TITLE</h3>
    {% for items in naver %}
        <a href="{{ items.link }}"><h5 class="news-title">{{ items.title }}</h5></a>
    {% endfor %}
</div>
<div class="body-item news-section" id="daum_news">
    <h3>&lt;DAUM&gt; NEWS TITLE</h3>
    {% for items in daum %}
        <a href="{{ items.link }}"><h5 class="news-title">{{ items.title }}</h5></a>
    {% endfor %}
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

</body>
</html>