{% extends "base.html" %}


{% block content %}

    <div id="login-page-container" class="container">
        <div class="row">
            <div id="form-wraper" class="col-md-7 col-md-offset-4">
                <form class="form-horizontal" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}
                                :</label>
                            {{ field }}
                            <small class="help-block">{{ field.errors }}</small>
                        </div>
                    {% endfor %}
                    <small id="passwordHelpBlock" class="form-text"
                           style="background-color: orangered">{{ form.non_field_errors }}</small>
                    <button type="submit" id="loginpage-login-btn" class="btn btn-default">로그인</button>
                </form>
                <form action="" class="form-horizontal">
                    <button type="button" id="loginpage-signup-btn" class="btn btn-primary">회원가입</button>
                </form>
            </div>

        </div>
    </div>


{% endblock %}