<div class="container-fluid">
    <div class="row justify-content-between">

        {% if user.is_authenticated %}
            <div class="col-sm-2 align-self-center">
                <span onclick="openNav()"><span class="glyphicon glyphicon-plus"></span> 매체선택 | 로그아웃</span>
            </div>
        {% else %}
            <div class="col-sm-2 align-self-center">
                <span onclick="openNav()"><span class="glyphicon glyphicon-plus"></span> 매체선택 | 로그인</span>
            </div>
        {% endif %}

        {% if login_page is True %}
            <div class="col-sm-2 align-self-center">
                <span><a href="{% url 'main' %}" style="text-decoration: none; color: black;">
                    <span class="glyphicon glyphicon-plus"></span> HOME </a>
                </span>
            </div>
        {% else %}
            {% include "include/nav.html" %}
        {% endif %}
        <div id="search-section-wrapper" class="col-sm-7 align-self-end">
            <div class="container">
                <div class="form-row justify-content-end">
                    <div class="col-sm-auto">
                        <form class="form-inline" method="get" action="https://www.google.com/search">
                            <input class="form-control" name="q" type="text" placeholder="Search Google">
                            <input type="submit" class="btn btn-default btn-sm search-btn" value="구글 검색">
                        </form>
                    </div>
                    <div class="col-sm-auto">
                        <form class="form-inline" method="get" action="https://search.naver.com/search.naver">
                            <input class="form-control" name="query" type="text" placeholder="Search Naver"/>
                            <input type="submit" class="btn btn-default btn-sm search-btn" value="네이버 검색">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>