<div id="search_section">
    <div class="search">
        <form class="navbar-form" method="get" action="https://search.naver.com/search.naver">
            <input name="query" type="text" placeholder="Search Naver"/>
            <input type="submit" class="btn btn-default btn-sm" value="네이버 검색">
        </form>
    </div>
    <div class="search">
        <form class="navbar-form" method="get" action="https://www.google.com/search">
            <input name="q" type="text" placeholder="Search Google">
            <input type="submit" class="btn btn-default btn-sm" value="구글 검색">
        </form>
    </div>
</div>
{% if login_page is True %}
    <span><a href="{% url 'main' %}" style="text-decoration: none; color: black;"><span
            class="glyphicon glyphicon-plus"></span> HOME </a></span>
{% else %}
    <nav id="nav">
        <div id="nav-item-wraper">
            <div class="login-section">
                <div class="login-section-inner">
                    {% if user.is_authenticated %}
                        <h3>welcome {{ user }}</h3>
                        <form action="{% url 'logout' %}" method="get">
                            <button id="logout-btn" class="btn btn-block">로그아웃</button>
                        </form>
                    {% else %}
                        <form id="login" action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="input-group">
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <button id="login-btn" class="btn btn-default" type="submit">로그인</button>
                        </form>
                        <form id="signup" action="{% url 'signup' %}" method="get">
                            <button id="signup-btn" class="btn btn-primary" type="submit">회원가입</button>
                        </form>
                    {% endif %}
                </div>
            </div>

            <ul id="news-select-list">
                <li class="news-select-item"><a href="javascript:void(0)" class="closebtn"
                                                onclick="closeNav()">&times;</a>
                </li>
                <li class="news-select-item">네이버</li>
                <li class="news-select-item">다음</li>
            </ul>
        </div>
    </nav>
    {% if user.is_authenticated %}
        <span onclick="openNav()"><span class="glyphicon glyphicon-plus"></span> 매체선택 | 로그아웃</span>
    {% else %}
        <span onclick="openNav()"><span class="glyphicon glyphicon-plus"></span> 매체선택 | 로그인</span>
    {% endif %}
{% endif %}