body {
    margin: 0;
    background-color: white;
    position: relative;
}

header {
    position: relative;
}

header::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}

div#search_section {
    float: right;
    position: relative;
    top: 4px;
}

div#search_section::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}

div.search {
    float: right;
    margin-right: 10px;
}

nav#nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #101010;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;

    display: inline-block;
    margin: 0;
    opacity: 0.9;
}

div#nav-item-wraper {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s linear, opacity 1s linear;
    position: relative;
}

button#login-btn {
    width: 100%;
}

button#signup-btn {
    width: 100%;
    margin-top: 10px;
}

span a.closebtn {
    position: absolute;
    top: -55px;
    font-size: 30px;
    text-decoration: none;
    color: lightgray;
}

span {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 15%;
    margin-left: 12px;
    display: inline-block;
    /*transform: translateY(-50%);*/
}

div.logout-section h3 {
    text-decoration: none;
}

div.news-select-group-title h5 {
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

form label {
    color: white;
}

/* On smaller screens, where height is less than 450px,
change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    #nav {
        padding-top: 15px;
    }

    #nav li {
        font-size: 18px;
    }
}

.header-bar {
    height: 2px;
    background: black;
    width: auto;
    margin-top: 7px;
    margin-bottom: 7px;
}

ul.errorlist {
    margin: 0 0;
    padding: 10px 0 10px 20px;
}

div.news-title-card-wrapper {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

div.news-title-card-header {
    padding-top: 5px;
    padding-bottom: 5px;
}

div.news-title-card-header p {
    margin-bottom: 0;
}

li.news-title-li {
    padding: 2px 5px 2px 5px;
    font-size: 13px;
}

a.news-title-link {
    text-decoration: none;
    color: #5a6268;
}


