body {
    margin: 0;
    background-color: white;
}

body::after{
    content: '';
    display: block;
    height:0;
    clear: both;
}

.header-bar {
    height: 10px;
    background: blue;
    width: auto;
    margin-top: 7px;
    margin-bottom: 0;
}

.body-item{
    float: left;
}

div#news-select-section {
    background-color: #5897fb;
    position: relative;
    width: 13%;
    padding-bottom: 75%;
}

.news-section {
    background-color: hotpink;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    position: absolute;
    list-style-type: none;
    width: 100%;
    padding: 0;
}

li {
    margin: 0 auto;
    text-align: center;
}

h5.news-title {
    margin: 5px 5px;
}