div#password-division {
    height: 1px;
    background: black;
    width: auto;
    margin-bottom: 10px;
}
div#user-info-wrapper {
    margin-top: 40px;
}
button#user-info-btn {
    width: 100%;
}

input#cm-btn {
    width: 100%;
    margin-top: 10px;
}
